.sem-cliente {
  margin: 160px 0 0 540px;
}

.table {
  margin-top: 20px;
  margin-left: 20px;
  width: 1200px;
}

th, td {
  background-color: #212529;
  color: aliceblue;
}

.opcoes {
  display: flex;
}

.painel-opcoes {
  margin-left: 0;
  padding-left: 0;
}

.editar {
  padding-left: 0px;
}
.deletar {
  margin-left: 10px;
  padding-right: 0;
  margin-right: 0;
}

.data {
  margin-right: 0;
  padding-right: 0;
}

.vazio {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}




