<div class="global">
  <div class="identificacao-e-data">
    <div class="identificacao mb-3">
      <div class="cabecalho">
        <p>CNPJ/CPF</p>

        <img src="../../../../../assets/estrela.png" />
      </div>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="09.096.703/0001-30"

      />
    </div>

    <div class="data mb-3">
      <div class="cabecalho">
        <p>Data de cadastro</p>
        <img src="../../../../../assets/estrela.png" />
      </div>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="01/06/2023"
        disabled
      />
    </div>
  </div>

  <div class="nome-identificacao">
    <div class="nome mb-3">
      <div class="cabecalho">
        <p>Nome</p>
        <img src="../../../../../assets/estrela.png" />
      </div>
      <input type="text" class="form-control" id="exampleFormControlInput1" />
    </div>

    <div class="nome-fantasia mb-3">
      <div class="cabecalho">
        <p>Nome fantasia</p>
        <img src="../../../../../assets/estrela.png" />
      </div>
      <input type="text" class="form-control" id="exampleFormControlInput1" />
    </div>
  </div>

  <div class="incricao-municipal-estadual" *ngIf="show">
    <div class="municipio mb-3">
      <div class="cabecalho">
        <p>Incrição Municipal</p>
        <img src="../../../../../assets/estrela.png" />
      </div>
      <input type="text" class="form-control" id="exampleFormControlInput1" />
    </div>

    <div class="estado mb-3">
      <div class="cabecalho">
        <p>Inscrição Estadual</p>
        <img src="../../../../../assets/estrela.png" />
      </div>
      <input type="text" class="form-control" id="exampleFormControlInput1" />
    </div>
  </div>
</div>

<div class="botoes">
  <button type="button" class="cancelar btn btn-light" routerLink="/clients">
    Cancelar
  </button>
  <button
    type="button"
    class="salvar btn btn-primary"
    (click)="salvar()"
    routerLink="/create/localizacao"
  >
    Salvar Cliente
  </button>
</div>
