

<!-- <div class="msgcadastrar" *ngIf="telaCadastroEndereco">
  <div class="cabecalho-msg-cadastrar">

    <div class="imagemAdicionar">
      <div class="circulo">
      </div>
      <img class="simbolo-add" src="../../../../../assets/simboloAdd.png" alt="">
    </div>

    <div class="msg-de-cadastro">
      <p>Novo endereço</p>
    </div>

    <div class="linha-do-cadastro">
      <hr class="linha-cadastro">
    </div>

    <div class="campo-obrigatorio-cadastro">

      <div class="imagem-estrela-cadastro">
        <img src="../../../../../assets/estrela.png" alt="">
      </div>

      <div class="msg-campo-obrigatorio-cadastro">Campo obrigatório</div>

    </div>

    <div class="fechar-cadastro">
      <img class="imagem-fechar-cadastro" src="../../../../../assets/fechar.png" alt=""
      (click)="fecharCadastroEndereco()">
    </div>

  </div>

  <div class="formulário-cadastro-geral">

    <div class="cep-logradouro-geral">
      <div class="cep">

        <div class="campo-obrigatorio-cep">
          <p>CEP</p>
          <img class="estrela-cep" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="email" class="input-cep form-control" id="exampleFormControlInput1" placeholder="00.000-000">
      </div>

      <div class="logradouro">

        <div class="campo-obrigatorio-logradouro">
          <p>Logradouro</p>
          <img class="estrela-logradouro" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="text" class="input-logradouro form-control" id="exampleFormControlInput1">
      </div>

    </div>

    <div class="numero-complemento-geral">
      <div class="numero">

        <div class="campo-obrigatorio-numero">
          <p>Número</p>
          <img class="estrela-numero" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="text" class="input-numero form-control" id="exampleFormControlInput1">
      </div>

      <div class="complemento">

        <div class="campo-obrigatorio-complemento">
          <p>Complemento</p>
          <img class="estrela-complemento" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="text" class="input-complemento form-control" id="exampleFormControlInput1">
      </div>

    </div>

    <div class="bairro-cidade-estado-geral">
      <div class="bairro">

        <div class="campo-obrigatorio-bairro">
          <p>Bairro</p>
          <img class="estrela-bairro" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="text" class="input-bairro form-control" id="exampleFormControlInput1">
      </div>

      <div class="cidade">

        <div class="campo-obrigatorio-cidade">
          <p>Cidade</p>
          <img class="estrela-cidade" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="text" class="input-cidade form-control" id="exampleFormControlInput1">
      </div>

      <div class="estado">

        <div class="campo-obrigatorio-cidade">
          <p>Estado</p>
          <img class="estrela-estado" src="../../../../../assets/estrela.png" alt="">
        </div>

        <input type="text" class="input-estado form-control" id="exampleFormControlInput1">
      </div>

    </div>


  </div>

  <div class="botoes-cadastrar-endereco-geral">
    <button type="button" class="cancelar-cadastro-endereco btn btn-light" (click)="fecharCadastroEndereco()">Cancelar</button>
    <button type="button" class="salvar-novo-endereco btn btn-primary">Salvar</button>
  </div>

</div> -->


<div class="global">
  <div class="cabecalho">
    <h3>Localização</h3>


    <div class="linha-principal">
      <hr class="linha-um">
    </div>

    <div class="imagem-campo-obrigatorio">
      <img class="estrela-um" src="../../../../../assets/estrela.png" alt="">
      <p class="titulo-campo-obrigatorio">Campos obrigatórios</p>
    </div>

  </div>

  <div class="cabecalho-endereco">

    <h6 class="subtitulo">Endereços</h6>

    <div class="linha-subcabecalho">
      <hr class="linha-dois">
    </div>

    <img class="imagem-down" src="../../../../../assets/down.png">
  </div>



  <div class="endereco">

    <div class=" container text-center">
      <div class=" row align-items-start">
        <div class="teste">



          <div class=" teste card" style="width: 18rem;">
            <div class=" card-body">
              <p class="card-text">Rua 001 Setor Bueno</p>
              <p>Goiânia - Goiás</p>
              <p class="card-text">CEP: 001001001</p>

              <hr>

              <div>
                <img src="../../../../../assets/editar.png" alt="">
                <img src="../../../../../assets/deletar.png" alt="">
              </div>
            </div>

          </div>






        </div>
      </div>
    </div>
  </div>
</div>



