.cadastro {
  display: flex;
  margin-top: 20px;

  .identificacao {
    width: 298px;
    margin-right: 20px;

    .campo-identificacao {
      display: flex;

      label {
        margin-top: 5px;
        margin-right: 4px;

        color: var(--Grayscale-300, #CED4DA);

        /* Body/Default */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }
    }

    input {
      border-radius: 4px;
      border: 1px solid var(--Grayscale-400, #6C757D);
      background: var(--Grayscale-500, #2F3337);

      color: var(--Grayscale-300, #CED4DA);

      /* Body/Default */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
    }
  }

  .nome {
    width: 404px;

    .campo-nome {
      display: flex;

      label {
        margin-top: 5px;
        margin-right: 4px;

        color: var(--Grayscale-300, #CED4DA);

        /* Body/Default */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }

      .estrela-nome {
        margin-top: 2px;
      }
    }

    input {
      border-radius: 4px;
      border: 1px solid var(--Grayscale-400, #6C757D);
      background: var(--Grayscale-500, #2F3337);

      color: var(--Grayscale-300, #CED4DA);

      /* Body/Default */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
    }
  }
}

.botoes {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 50vh;

  .cancelar {
    margin-right: 36px;

    border-radius: 8px;
    border: 1px solid var(--Grayscale-400, #6C757D);
    background: var(--Grayscale-0, #FFF);

    color: var(--Grayscale-400, #6C757D);
    text-align: center;

    /* Body/default-14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }

  .salvar {
    border-radius: 8px;
    background: var(--Primary-300, #0D6CF2);

    color: var(--Grayscale-0, #FFF);
    text-align: center;

    /* Body/default-14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }
}
