.global {
  .cabecalho {
    h2 {
      color: var(--Primary-100, #D8E8FD);

      /* H2 */
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 36px;
      /* 128.571% */
      letter-spacing: 0.5px;
    }

    p {
      color: var(--Grayscale-400, #6C757D);

      /* Body/Default */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
    }
  }

  .formulario {
    width: 100%;

    .email {
      width: 50%;
      display: block;
      align-items: center;
      justify-content: center;
      margin-left: 25%;

      .campo-email {
        display: flex;

        label {
          margin-top: 3px;
          color: var(--Grayscale-300, #CED4DA);

          /* Body/Default */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */
        }

        .estrela-email {
          margin-left: 4px;
        }
      }

      input {
        padding-left: 8px;
        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6C757D);
        background: var(--Grayscale-500, #2F3337);

        color: #FFF;
      }

      .input-invalido {
        display: flex;
        height: 36px;
        padding-left: 8px;
        align-items: flex-start;
        align-self: stretch;

        border-radius: 4px;
        border: 1px solid var(--Main-Danger-Base, #EE2D3D);
        background: var(--Grayscale-500, #2F3337);
        box-shadow: 0px 4px 4px 0px rgba(238, 45, 61, 0.16);
      }

      p {
        display: flex;
        margin-top: 8px;
        color: var(--Main-Danger-Base, #EE2D3D);

        /* Subtext/Default */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 133.333% */
        letter-spacing: 0.5px;
      }

      input::placeholder {
        padding: 8px;
        color: var(--Grayscale-400, #6C757D);
        /* Body/Italic */
        font-family: Inter;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }


      p {
        display: flex;
        margin-top: 8px;
        color: var(--Main-Danger-Base, #EE2D3D);

        /* Subtext/Default */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 133.333% */
        letter-spacing: 0.5px;
      }
    }

    .senha {
      width: 50%;
      display: block;
      align-items: center;
      justify-content: center;
      margin-left: 25%;

      .campo-senha {
        display: flex;

        label {
          margin-top: 3px;
          color: var(--Grayscale-300, #CED4DA);

          /* Body/Default */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */
        }

        .estrela-senha {
          margin-left: 4px;
        }
      }

      input {
        padding-left: 8px;
        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6C757D);
        background: var(--Grayscale-500, #2F3337);

        color: #FFF;
      }

      .input-invalido {
        display: flex;
        height: 36px;
        padding-left: 8px;
        align-items: flex-start;
        align-self: stretch;

        border-radius: 4px;
        border: 1px solid var(--Main-Danger-Base, #EE2D3D);
        background: var(--Grayscale-500, #2F3337);
        box-shadow: 0px 4px 4px 0px rgba(238, 45, 61, 0.16);
      }

      p {
        display: flex;
        margin-top: 8px;
        color: var(--Main-Danger-Base, #EE2D3D);

        /* Subtext/Default */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 133.333% */
        letter-spacing: 0.5px;
      }

      input::placeholder {
        padding: 8px;
        color: var(--Grayscale-400, #6C757D);
        /* Body/Italic */
        font-family: Inter;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }
    }

    .lembrar-login {
      display: flex;
      align-items: center;
      margin-left: 25.3%;

      input {
        width: 16px;
        height: 16px;
        flex-shrink: 0;

        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6C757D);
      }

      label {
        margin-top: 3px;
        margin-left: 8px;
        color: var(--Grayscale-400, #6C757D);

        /* Body/Default */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }
    }

    .login {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      button {
        width: 50%;
        margin-top: 16px;
        border-radius: 8px;
        background: var(--Primary-300, #0D6CF2);

        color: var(--Grayscale-0, #FFF);
        text-align: center;

        /* Body/default-14px */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }

      .botao-desabilitado {
        border-radius: 8px;
        background: var(--Grayscale-100, #F5F7FA);

        color: var(--Grayscale-300, #CED4DA);
        text-align: center;

        /* Body/default-14px */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }
    }

    .campo-obrigatorio {
      margin-top: 16px;
      display: flex;
      width: 100%;
      // align-items: center;
      justify-content: initial;

      p {
        margin-top: 5px;
        margin-left: 25%;
        color: var(--Grayscale-400, #6C757D);
        text-align: center;

        /* Subtext/Default */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 133.333% */
        letter-spacing: 0.5px;
      }

      .estrela-campo-obrigatorio {
        margin-left: 4px;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      color: var(--Grayscale-400, #6C757D);

      /* Body/Default */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
    }

    a {
      margin-top: 0;
      margin-left: 5px;
      color: var(--Primary-300, #0D6CF2);

      /* Body/Underline */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 142.857% */
      text-decoration-line: underline;

      cursor: pointer;
    }
  }
}


.div-input {
  display: flex;
  position: relative;

  input {
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid var(--Grayscale-400, #6C757D);
    background: var(--Grayscale-500, #2F3337);

    color: #FFF;
  }

  .input-invalido {
    display: flex;
    height: 36px;
    padding-left: 8px;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 4px;
    border: 1px solid var(--Main-Danger-Base, #EE2D3D);
    background: var(--Grayscale-500, #2F3337);
    box-shadow: 0px 4px 4px 0px rgba(238, 45, 61, 0.16);
  }

  input::placeholder {
    color: var(--Grayscale-400, #6C757D);
    /* Body/Italic */
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }

  span {
    color: #fff;
    position: absolute;
    right: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
}
