.conteiner-principal {
  background-color: #1E1E1E;
  color: white;
  display: flex;
  width: 52px;
  // height: 768px;
  height: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.home {
  padding: 13px;
}

.clientes {
  padding: 15px;
}
