<div class="cabecalho">

  <div class="imagem">
    <img src="../../../assets/logoRegister.png" alt="simbolo decisao">
  </div>

  <div class="titulo">
    <h3><strong>Criar conta</strong></h3>
  </div>

  <div class="subtitulo">
    <p class="criar">Crie sua conta e desfrute de todo o sistema!</p>
  </div>
</div>

<div class="formulario">

  <div class="nome">
    <label for="validationServer01" class="form-label">Nome *</label>
    <input type="text" class="form-control {{ eValidoNome }}" id="validationServer01" placeholder="Insira seu nome" required
    [(ngModel)]="nome" (keyup)="onKeyUp()">
    <p class="aviso">{{ msg }}</p>
    <p class="aviso">{{ msgNome }}</p>
  </div>

  <div class="email">
    <label for="validationServer02" class="form-label">E-mail *</label>
    <input type="email" class="form-control {{ eValidoEmail }}" id="validationServer02" placeholder="Insira seu e-mail" required
    [(ngModel)]="email" (keyup)="onKeyUp()">
    <p class="aviso">{{ msg }}</p>
    <p class="aviso">{{ msgEmail }}</p>
  </div>

  <div class="senha">
    <label for="validationServer03" class="form-label">Senha *</label>
    <input type="password" class="form-control {{ eValidoSenha }}" id="validationServer03" placeholder="Insira a nova senha" required
    [(ngModel)]="senha" (keyup)="onKeyUp()">
    <p class="aviso">{{ msg }}</p>
    <p class="aviso">{{ msgSenha }}</p>
  </div>

  <div class="repetirsenha">
    <label for="validationServer04" class="form-label">Confirmar senha *</label>
    <input type="password" class="form-control {{ eValidoRepetirSenha }}" id="validationServer04" placeholder="Repita a senha inserida" required
    [(ngModel)]="repetirSenha" (keyup)="onKeyUp()">
    <p class="aviso">{{ msg }}</p>
    <p class="aviso">{{ msgRepetirSenha }}</p>
  </div>

</div>

<div class="cadastrar">
  <button type="button" class="btn btn-{{ cor }} {{ estadoBotao }}"
  (click)="registrar()">Criar conta</button>
</div>

<div class="campos">
  <p class="msg">* Campos obrigatórios</p>
</div>

<div class="login">
  <p class="fazerLogin">Já possui cadastro? <a routerLink="/login">Faça Login</a></p>
</div>
