<!-- <div class="menu-primeiro">

  <div class="menu-secundario">
    <div class="cabecalho">
      <p><a href="#">Cliente</a> / <span>Adicionar cliente</span></p>
    </div> -->


    <router-outlet></router-outlet>

  <!-- </div>

  <div class="menu-secundo">
    <div class="menu-cadastro">
      <div class="linha d-flex">
        <div class="vr"></div>
      </div>

      <div class="opcoes-rotas">
        <p class="rotas"><a class="link" routerLink="/clientes/criar/formulario" >Dados cadastrais</a></p>
        <p class="selecionar"><a class="link-ativo" routerLink="localizacao" >Localização</a></p>
        <p class="rotas"><a class="link" routerLink="representantes">Representantes</a></p>
      </div>
    </div>
  </div>

</div> -->

