.global {
  // background-color: aqua;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}

.barra-superior {
  // background-color: #5dc02b;
  width: 100%;


}

.topo {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

  .cliente,
  .barra {
    color: #d8e8fd;
  }

  .editar {
    color: #6c757d;
  }
}

.cabecalho {
  // background-color: #d8e8fd;
  width: 98%;
  margin-left: 20px;
  display: flex;

  h5 {
    color: aliceblue;
    white-space: nowrap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
  }

  .linha-um {
    width: 100%;
    margin-left: 8px;

    hr {
      color: #fffefe;
      border-width: 1.6px;
    }
  }

  .campos-obrigatorios {
    white-space: nowrap;
    display: flex;

    img {
      margin-top: 10px;
      margin-left: 8px;
      width: 12px;
      height: 12px;
    }

    p {
      color: #6c757d;
      margin-top: 8px;
      margin-left: 6px;
      margin-right: 8px;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      /* 133.333% */
      letter-spacing: 0.5px;
    }
  }

  .dropdown {
    margin-right: 20px;
    white-space: nowrap;
  }
}

.menu {
  display: flex;
  margin-right: 62px;

  // background-color: #d8e8fd;
  .linha {
    // background-color: #d8e8fd;
    // width: 100%;
    position: fixed;

    .vr {
      color: #6c757d;
      height: 100vh;
      margin-right: 20px;
    }
  }
}

.opcoes {
  .link-ativo {
    color: #0d6cf2;
    border-left: 2px solid #0d6cf2;
    padding-left: 16px;
    white-space: nowrap;
  }

  .link-desativado {
    color: #6c757d;
    padding-left: 20px;
    white-space: nowrap;
  }
}

.corpo {
  background-color: antiquewhite;
  color: black;
  width: 80%;
}

.rotas {
  width: 96%;
  margin-left: 20px;

  .identificacao-e-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;

    .identificacao {
      width: 30%;
      margin-right: 20px;

      .cabecalho {
        display: flex;

        img {
          width: 12px;
          height: 12px;
          margin-top: 4px;
          margin-left: 4px;
        }

        p {
          margin-left: -16px;
          color: var(--Grayscale-400, #6c757d);

          /* Body/Default */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */

          margin-bottom: 4px;
        }
      }

      input {
        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6c757d);
        background: var(--Grayscale-600, #212529);
      }

      input::placeholder {
        color: var(--Grayscale-400, #6c757d);

        /* Body/Default */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }
    }

    .data {
      margin-right: 47%;

      .cabecalho {
        display: flex;

        img {
          width: 12px;
          height: 12px;
          margin-top: 5px;
          margin-left: 4px;
        }

        p {
          margin-left: -16px;
          color: var(--Grayscale-300, #ced4da);

          /* Body/Default */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */

          margin-bottom: 4px;
        }
      }

      input {
        color: #d8e8fd;
        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6c757d);
        background: var(--Grayscale-500, #2f3337);
      }

      input::placeholder {
        color: var(--Grayscale-400, #6C757D);

        /* Body/Default */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
      }
    }
  }

  .nome-identificacao {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nome {
      width: 404px;
      margin-right: 2px;

      .cabecalho {
        display: flex;

        img {
          width: 12px;
          height: 12px;
          margin-top: 5px;
          margin-left: 4px;
        }

        p {
          margin-left: -16px;
          color: var(--Grayscale-300, #ced4da);
          /* Body/Default */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */

          margin-bottom: 4px;
        }
      }

      input {
        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6c757d);
        background: var(--Grayscale-500, #2f3337);
        color: #ced4da;
      }

      input::placeholder {
        color: #ced4da;
      }
    }

    .nome-fantasia {
      width: 60%;

      .cabecalho {
        display: flex;

        img {
          width: 12px;
          height: 12px;
          margin-top: 4.5px;
          margin-left: 4px;
        }

        p {
          margin-left: -16px;
          color: var(--Grayscale-300, #ced4da);
          /* Body/Default */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */

          margin-bottom: 4px;
        }
      }

      input {
        border-radius: 4px;
        border: 1px solid var(--Grayscale-400, #6c757d);
        background: var(--Grayscale-500, #2f3337);
        color: #ced4da;
      }
    }
  }
}

.primeira-acao {
  position: fixed;
  margin-top: 20px;
  bottom: 70px;
  right: 245px;
  z-index: 100;
  display: flex;
  align-items: end;
  justify-content: end;

  .cancelar-um {
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid var(--Grayscale-400, #6C757D);
    background: var(--Grayscale-0, #FFF);

    color: var(--Grayscale-400, #6C757D);
    text-align: center;

    /* Body/default-14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }

  .salvar-habilitado-um {
    border-radius: 8px;
    background: var(--Primary-300, #0D6CF2);

    color: var(--Grayscale-0, #FFF);
    text-align: center;

    /* Body/default-14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }

  .salvar-desabilitado-um {
    border-radius: 8px;
    background: var(--Grayscale-100, #F5F7FA);

    color: var(--Grayscale-300, #CED4DA);
    text-align: center;

    /* Body/default-14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }
}

.dados-cadastrais {
  margin-top: 20px;
}

.ativo {
  background-color: #5dc02b;
  color: white;
}

.inativo {
  background-color: #ffb31a;
  color: white;
}

.negativo {
  background-color: #ee2d3d;
  color: white;
}

.botoes {
  width: 98%;
  display: flex;
  justify-content: end;
  align-items: end;

  .cancelar {
    margin-right: 20px;
  }

  .salvar {
    margin-right: 1px;
  }
}
